.card{
    margin:2rem 0;
    height: 100px;
    width: 430px;
    background:blueviolet;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}